<div class="cart-attribute__field">
    <input type="hidden" name="attributes[Direct to boot]" value="No">
    <input type="checkbox" name="attributes[Direct to boot]" value="Yes"{% if cart.attributes["Direct to boot"] == "Yes" %} checked{% endif %}>
    <label>I want to have <a href="/pages/direct-to-boot" target="_blank">Direct to boot service</a></label>
   </div>