<div class="page-width text-center">
{{section.settings.code}}
</div>
{% schema %}
    {
      "name": "custome code",
      "class": "index-section",
      "settings": [
        {
          "type": "liquid",
          "id": "code",
          "label": "Cusom code "
        }
      ],
      "presets": [
      {
        "name": "Custome code"
      }
      ]
    }
  {% endschema %}
  